* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainLightGreen: #81b340a6;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainRed: #ff0000;
$mainTransition: all 0.3s linear;

body {
  font-family: 'open sans', sans-serif;
  background-color: $mainLightGreen;
  color: $mainBlack;
}
